html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
:root {
	font-family: Quicksand;
	--primary-color: #e5e6e4;
	--secondary-color: #0f110c;
	--secondary-color-hover: #202020;
	--accent-color: #ff4000;
	--primary-font-color: black;
	--secondary-font-color: white;
	--accent-font-color: white;
	--font-color: black;
	--placeholder-color: greenyellow;
	--heading-height: 200px;
	--facebook-color: #4267b2;
	--facebook-hover: #517bcf;
	--twitter-color: #1da1f2;
	--twitter-hover: #4abaff;
	--instagram-color: #833ab4;
	--instagram-hover: #a349df;
}

@font-face {
	font-family: 'Quicksand';
	src: url(./Quicksand-Regular.ttf);
}

@font-face {
	font-family: 'Italianno';
	src: url(./Italianno-Regular.ttf);
}

#content {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

a {
	text-decoration: none;
	color: var(--font-color);
}

nav {
	height: 50px;
	background-color: var(--secondary-color);
	color: var(--secondary-font-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.nav-item {
	padding: 0px 20px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.menu-button {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	display: none;
}

.menu-img {
	filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(146deg)
		brightness(106%) contrast(104%);
	height: 32px;
	width: 32px;
}

.logo-link {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--secondary-font-color);
}

.logo-link img {
	height: 50px;
	width: 50px;
	padding: 9px;
	filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(146deg)
		brightness(106%) contrast(104%);
}

.logo-text {
	font-size: 1.2rem;
}

.tabs {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.tab {
	cursor: pointer;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(210, 210, 210);
	padding: 0 10px;
}

.tab:hover,
.nav-active {
	color: var(--secondary-font-color);
	background-color: var(--secondary-color-hover);
}

.icons {
	display: flex;
	height: 100%;
	width: 150px;
}

.icon {
	height: 100%;
	padding: 10px;
	cursor: pointer;
}

.icon-fb {
	background-color: var(--facebook-color);
}

.icon-fb:hover {
	background-color: var(--facebook-hover);
}

.icon-tw {
	background-color: var(--twitter-color);
}

.icon-tw:hover {
	background-color: var(--twitter-hover);
}

.icon-insta {
	background-color: var(--instagram-color);
}

.icon-insta:hover {
	background-color: var(--instagram-hover);
}

.heading {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(./background-photo.jpg);
	height: var(--heading-height);
	width: 100%;
	background-size: cover;
}

.heading::before {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	height: var(--heading-height);
	width: 100%;
	background: rgb(0, 0, 0);
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 0.9) 0%,
		rgba(45, 45, 45, 0.3) 50%,
		rgba(0, 0, 0, 0.9) 100%
	);
}

.heading-text {
	position: relative;
	color: white;
	font-size: 6rem;
	font-family: Italianno;
}

.main {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 30px;
	background-color: var(--primary-color);
	color: var(--primary-font-color);
	flex-grow: 1;
}

.main-header {
	font-size: 3.5rem;
	text-align: center;
	margin-bottom: 20px;
	font-family: Italianno;
}

.main-text {
	font-size: 1.5rem;
	text-align: center;
}

.main-content {
	display: flex;
}

.dish {
	display: flex;
	justify-content: center;
	width: 100%;
}

.dish-img {
	display: block;
	padding: 30px;
	width: clamp(500px, 50%, 720px);
	height: auto;
}

.dish-text {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding: 20px;
	gap: 20px;
	max-height: 355px;
}

.dish-text > h2 {
	margin: 20px 0px;
}

footer {
	height: 70px;
	width: 100%;
	background-color: var(--secondary-color);
	color: var(--secondary-font-color);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
}

@media (max-width: 992px) {
	.dish {
		flex-direction: column;
	}
	.dish-img {
		width: 100%;
	}
	.dish-text {
		width: 100%;
		height: unset;
	}

	.tabs {
		display: none;
	}
	.nav-item {
		gap: 15px;
	}
	.menu-button {
		display: flex;
	}
}
