html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
:root {
	--font-color: black;
	--placeholder-color: greenyellow;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

a {
	text-decoration: none;
	color: var(--font-color);
}

nav {
	height: 50px;
	background-color: var(--placeholder-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	gap: 20px;
}

.nav-item {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.tabs {
	display: flex;
	gap: 25px;
}

.icons {
	display: flex;
	gap: 5px;
}

.heading {
	display: flex;
	background-image: url(./background-photo.jpg);
	height: 200px;
	width: 100%;
}
