html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
:root {
	--font-color: black;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

a {
	text-decoration: none;
	color: var(--font-color);
}

nav {
	height: 50px;
	background-color: greenyellow;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	gap: 20px;
}

.nav-item {
	padding: 20px;
}
